*.iml
.kotlin
.gradle
**/build/
**/node_modules/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
google-cloud-credentials.json
google-cloud-credentials.plist

# Compiled native libraries
*.dylib

# Staging/build artifact directories
composeApp/bin/

# Maestro UI Testing
.maestro/outputs/
