name: Library Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # For manual triggering

jobs:
  test-windows:
    name: "Run mingwX64 tests on Windows"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Run Windows Tests
        run: ./gradlew :sharedLib:mingwX64Test

  test-macos:
    name: "Run [mac + ios] tests on macOS"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Run macOS and iOS Tests
        run: |
          ./gradlew :sharedLib:macosArm64Test
          ./gradlew :sharedLib:iosSimulatorArm64Test

  test-ubuntu:
    name: "Run [jvm, web, linux] tests on Ubuntu"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Run Linux and JVM Tests
        run: |
          ./gradlew :sharedLib:linuxX64Test
          ./gradlew :sharedLib:jvmTest
          ./gradlew :sharedLib:wasmJsNodeTest
